@import url('https://fonts.googleapis.com/css2?family=Livvic&family=Ubuntu:ital,wght@0,400;0,700;1,700&display=swap');

/* -------------------------- CSS Reset -------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --navColor: Royalblue;
    --bodyColor: #333;
    --titleFonts: 'Ubuntu', sans-serif;
    --titleFontWeight: 700;
    --col-light: #ddd;
    --bodyFonts: 'Livvic', sans-serif;
}

body{
    font-family: var(--bodyFonts);
}

a{
    text-decoration: none;
}

/* -------------------------- Navbar -------------------------- */

.navbar{
    /* --bgColor: Royalblue;
    --titleFonts: 'Ubuntu', sans-serif; */
    font-family: var(--titleFonts);
    background-color: var(--navColor);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar .brand-img{
    height: 9vh;
}

.navbar .member-options{
    display: none;
    position: absolute;
    width: 100%;
    top: 10vh;
    left: 0;
    padding: 1.5rem 0;
    background-color: var(--col-light);
}
.navbar .member-options .login-signup-box{
    margin: 1rem;
    border-bottom: 2px solid var(--bodyColor);
    height: 3rem;
}

.navbar .member-options .login-signup-box .login-signup-btn{
    color: var(--bodyColor);
    font-size: 1.3rem;
    cursor: pointer;
}

.navbar .bar-icon{
    font-size: 2rem;
}

/* -------------------------- Login Page -------------------------- */

.main-section{
    height: 90vh;
    background-color: var(--bodyColor);
    display: flex;
    align-items: center;
}

.signup-main-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: fit-content;
}

.form-container{
    background-color: var(--col-light);
    width: 98%;
    max-width: 470px;
    padding: 2rem 0.3rem 0.3rem;
    margin: auto;
    border-radius: 15px;
}

.form-container .login-signup-form{
    border: 2px solid var(--navColor);
    border-radius: 15px;
    position: relative;
    padding: 0.3rem;
}

.login-signup-form .form-title{
    font-family: var(--titleFonts);
    font-size: 2rem;
    font-weight: var(--titleFontWeight);
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-60%);
    background-color: var(--col-light);
}
.login-signup-form .user-details-expanded{
    display: none;
}

.login-signup-form .input-box{
    /* border: 2px solid red; */
    width: 90%;
    margin: 1.5rem auto;
    position: relative;
}

.login-signup-form .input-box input{
    width: 100%;
    height: 2.5rem;
    padding-left: 20px;
    font-size: 1.3rem;
    background-color: var(--col-light);
    border: none;
    border-bottom: 1px solid var(--navColor);
}
.login-signup-form .input-box input:focus, .login-signup-form .input-box input:valid{
    outline: none;
    border: 2px solid var(--navColor);
    border-radius: 10px;
}

.login-signup-form .input-box label{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--col-light);
    transition: 0.5s;
}

.login-signup-form .input-box input:focus + label, .login-signup-form .input-box input:valid + label{
    top: 0;
    left: 10px;
    font-size: 0.8rem;
}
.login-signup-form .input-box .eye-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.login-signup-form .gender-box{
    padding: 0 5%;
    margin-bottom: 1rem;
}

.remember-me-box, .submit-box, .create-account-forgot-pwd-box{
    width: 100%;
    margin: auto;
}

.remember-me-box{
    margin-bottom: 1rem;
}
.submit-box{
    width: 90%;
    margin:auto;
    margin-bottom: 1rem;
}
.submit-box input{
    width: 100%;
    font-size: 1.5rem;
    height: 2.5rem;
    background-color: var(--navColor);
    color: var(--col-light);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--navColor);
}
.submit-box input:hover{
    background-color: var(--col-light);
    color: var(--navColor);
}
.create-account-forgot-pwd-box{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.create-account-forgot-pwd-box a{
    color: var(--navColor);
}
.create-account-forgot-pwd-box a:hover{
    text-decoration: underline;
}


@media screen and (min-width : 290px){
    .remember-me-box, .submit-box, .create-account-forgot-pwd-box, .login-signup-form .input-box{
        width: 90%;
    }
    .form-container{
        width: 90%;
        padding: 2rem 1rem 1rem;
    }
    .form-container .login-signup-form{
        padding: 1rem;
    }
    .signup-main-section{
        height: 90vh;
    }
}

@media screen and (min-width : 650px) {
    .navbar .nav-toggle{
        display: none;
    }
    .navbar .member-options{
        position: static;
        display: flex;
        width: fit-content;
        padding: 0;
        background-color: var(--navColor);
    }
    .navbar .member-options .login-signup-box{
        border: none;
        height: fit-content;
    }
    .navbar .member-options .login-signup-box .login-signup-btn{
        color: var(--col-light);
        font-size: 1.5rem;
    }
    .login-signup-form .gender-box{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
}

@media screen and (min-width : 768px){
    .login-signup-form .user-details-expanded{
        display: flex;
        /* gap: 1rem; */
        justify-content: space-between;
    }
    .login-signup-form .user-details{
        display: none;
    }
    .form-container{
        max-width: 600px;
    }
}